@import "colors";
@import "formatting";
@import "animations";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/animation";
@import "compass/css3/filter";

/////////////////////////////////////////////////
// Classes and mixins for material design 
/////////////////////////////////////////////////

// highlight colored box shadow for dialogs
@mixin dialog-shadow ( $color ) {
	box-shadow: 0px 2px 0px darken($color,25%), 0px 0px 0px 1px darken($color,25%);
}

@function seams-shadow () {
	@return "0px 0px 1px #ccc, 1px 1px 1px #fff inset";
}

@mixin seams-shadow {
	box-shadow: #{seams-shadow()};
}

@mixin step-shadow ( $direction ) {
	@if ( #{$direction} == "down" ) {
		box-shadow: -3px 0px 3px 1px rgba(#000,0.5);
	}
	// @todo
}

@mixin navbar {
	@include layer("navbar");
	@include clear-fix;
	position: fixed;
	width: 100%;
}


@mixin dropdown {
	position: relative;
	left: calc(-50% + 1em);
	margin-top: calc(-50% + 1.5em);
}

@mixin dropdown-icon {
	@include square(1em);
	display: block;
	font-size: 2em;
}

@mixin dropdown-menu {
	@include font;
	@include transition(0.15s opacity);
	position: absolute;
	background: #fff;
	color: #333;
	padding: 1em;
	box-shadow: 0px 0px 3px rgba(#000,0.25);
	border-radius: 0.25em;
	right: -0.25em;
	margin-top: 1em;
	box-sizing: border-box;
	z-index: 1000000;
	opacity: 0;
	pointer-events: none;

	&:before {
		position: absolute;
		content: '';
		bottom: 100%;
		right: 0;
		margin-right: 1em;
		@include filter(drop-shadow(0px -1px 1px rgba(#000,0.25)));
		@include triangle( 0.5em, #fff, "top" );
	}

	& > * {
		font-weight: bold;
		cursor: pointer;
		display: block;
		text-align: left;
		padding: 0.25em;
		white-space: nowrap;
		border-radius: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}


// styles for input and contenteditable spans
@mixin input ( $color ) {
	@include font;
	position: relative;
	margin: 0 0.4em;

	input {
		width: 100px;
	}

	& > input[type="text"]:focus, 
	& > input[type="password"]:focus,
	& > span[contenteditable="true"]:focus {
		background: lighten($background,15%);
		border-bottom: none;
		border-radius: 0.25em;
	}

	.icon {
		margin-right: 0.25em;
	}

	.label {
		@include transition(0.25s all ease, 1s opacity ease);
		pointer-events: none;
		position: absolute;
		opacity: 1;
		left: 0;
		top: 0;
		padding: 0.4em 0;
		color: darken($color,15%);
	}

	input[type="text"], input[type="password"], span[contenteditable="true"] {
		@include overflow-ellipsis;
		@include reset-input;
		position: relative;
		min-width: 7em;
		text-align: left;
		display: block;
		box-sizing: border-box;
		border-bottom: 1px dashed darken($color,10%);
		color: darken($color,15%);
		background: none;
		font-weight: 400;
		height: 1.8em;
		padding: 0.4em;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;

		// remove Chrome's outlineing
		&:focus { outline: 0; }

		@include placeholder {
			line-height: normal;
			vertical-align: middle;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
		}
	}

	input:focus, input:valid, span[contenteditable="true"]:focus, span[contenteditable="true"]:not(:empty) {
		font-weight: 400;
	}

	input:focus + .label, span[contenteditable="true"]:focus + .label {
		font-size: 0.8em;
		padding: 0;
		top: -1.5em;
		color: lighten($color,25%);
		font-weight: 400;
	}

	// fade out the placeholder once there's content in the input
	input:valid + .label, span[contenteditable="true"]:not(:empty) + .label {
		opacity: 0;
	}
}


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Floating action button
// 
// @see https://www.google.com/design/spec/components/buttons.html
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@mixin action-button ( $color ) {
	@include square(1em);
	@include transition(background 0.25s ease-in-out, box-shadow 0.25s ease-in-out);
	padding: 1.25em;
	box-sizing: border-box;
	position: absolute;
	background: $color;
	color: #fafafa;
	font-size: 20pt;
	border-radius: 50%;
	outline: none;
	border: none;
	cursor: pointer;

	$shadow: 0px 0px 15px rgba(#000,0.25), 
		0px 1px 5px -1px rgba(#000,0.5),
		0px 0px 1px rgba(#fff,0.5) inset, 
		0px -1px 2px -1px #000 inset,
		0px 1px 2px -1px rgba(#fff,0.5) inset;

	box-shadow: #{$shadow};

	* {
		height: 1em;
		width: 100%;
		text-align: center;
		top: 50%;
		margin-top: -25%;
		left: 0;
		position: absolute;
	}

	&:hover {
		background: lighten($color, 5%);
		box-shadow: #{$shadow}, 0px 10px 5px -5px rgba(#000,0.15),
			0px 15px 15px -15px rgba(#000,0.5);
	}
}

@mixin sheet {
	background: #fff;
	box-shadow: 0px 0px 5px rgba(#000,0.15), 0px 1px 5px -1px rgba(#000,0.25), #{seams-shadow()};
}

@mixin card {
	@include font;
	@include no-select;
	background: #fff;
	border-radius: dp(2);
	// box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.25)
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Dialog/Alert
// 
// @see https://www.google.com/design/spec/components/dialogs.html#dialogs-simple-dialogs
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@mixin dialog {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 1000;
	@include center-children;

	// darken the area behind the dialog
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		height: 100vh;
		width: 100vw;
		background: rgba(#000,0.5);
	}

	// dialog modal
	& > * {
		@include card;
		box-shadow: 0px 0px 25px rgba(#000,0.1);
		padding: dp(16);
		z-index: 100000;
	}
}

@mixin dialog-title {
	font-weight: bolder;
	text-align: left;
	font-size: dp(24);
	margin: dp(4) 0;
}

@mixin flat-textarea ( $color ) {
	textarea {
		@include reset-textarea;
		display: block;
		overflow-y: hidden;
		width: 100%;
		box-sizing: border-box;
	}
}

@mixin flat-input ( $color ) {
	@include font;
	position: relative;
	box-sizing: border-box;
	font-size: inherit;
	font-weight: inherit;
	box-shadow: 0px -1px 1px -1px #ccc inset;

	input[type="text"], input[type="password"], h3 {
		@include overflow-ellipsis;
		@include reset-input;
		color: inherit;
		width: 100%;
		height: 1em;
		padding: 0.4em 0;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		background: none;
		line-height: normal;

		// remove Chrome's outlineing
		&:focus { outline: 0; }

		@include placeholder {
			line-height: normal;
			vertical-align: middle;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
		}

		& + .line {
			@include transition(width 0.25s ease-out);
			position: absolute;
			width: 0;
			height: 2px;
			left: 0;
			bottom: 0;
			background: $color;
		}

		&:focus + .line {
			width: 100%;
		}
	}
}

// expanding circle animation
@mixin circle-anim ( $color, $radius ) {
	overflow: hidden;
	box-sizing: border-box;

	@at-root {
		@include keyframes ( "circle-anim-pulsate" ) {
			from {
				@include transform(scale(1));
			}
			to {
				@include transform(scale(1.05));
			}
		}
	}

	&::before {
		@include animation(circle-anim-pulsate 1s ease-in-out alternate infinite);
		@include center-absolute(0em,0em);
		@include transition(0.75s all);
		position: absolute;
		content: '';
		border-radius: 50%;
	}

	* {
		position: relative;
		z-index: 5;
	}

	&:hover { 
		&::before { 
			@include center-absolute( $radius, $radius );
			background: darken($color,20%);
		}
	}
}

@mixin clickable {
	position: relative;
	cursor: pointer;
	box-sizing: border-box;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
}

// call to action button
@mixin flat-button ( $color, $radius: 300px ) {
	@include circle-anim( $color, $radius );
	@include reset-input;
	@include font;
	@include no-select;
	@include clickable;
	display: block;
	background: $color;
	color: color($color);
	font-weight: bolder;
	text-transform: uppercase;
	border-radius: 2px;
	z-index: 2;

	&:before {
		z-index: -1;
	}

	.fa {
		font-size: 100%;
		line-height: 1;
		vertical-align: baseline;
	}

	* + .fa {
		margin-left: 0.5em;
	}
}
