
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100");

@mixin font {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}