
/////////////////////////////////////////////////
// Mixins for formatting text
/////////////////////////////////////////////////

// reset a button
@mixin reset-button {
	background: none;
	border: none;
	outline: none;
	padding: 0;
}

// prevent text selection
@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// hide overflowing text with an ellipsis
@mixin overflow-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// reset a text input
@mixin reset-input {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	border: none;
	outline: none;
}

// reset a textarea
@mixin reset-textarea {
	@include reset-input;
	resize: none;
	background: none;
	font-size: inherit;
	padding: 0;
	white-space: pre-wrap;
	word-wrap: break-word;
}

@mixin hide-empty-image {
	&[src=""], &:not([src]) {
		display: none;
	}
}

// shorthand to place an element on a new line
@mixin line-break {
	float: left;
	clear: both;
}

// allow pointer events through an element
@mixin click-through() {
	pointer-events: none;
	background: none !important;
}